.textdata{
    background-color: grey;
    left: 40;
    width: 640px;
    text-align: center;
    border-radius: 10px;

}
.textdata p {
    color: #f2f4f5;
}

.cover{
    width: 640px;
    margin:auto;
 
}